Repository genn-team/genn, pull requests merged in 2020-08, with the labels that each got.

#351 Applied previous fix to connectivity initialisation snippets
  pygenn/genn_model.py
Labels: PyGeNN, bug

#346 Pynn procedural synapses
  pygenn/genn_groups.py
Labels: PyGeNN, bug

#353 Fixes constant cache overflows
  include/genn/backends/cuda/backend.h
  src/genn/backends/cuda/backend.cc
  tests/features/constant_cache_overflow/Makefile
  tests/features/constant_cache_overflow/constant_cache_overflow.sln
  tests/features/constant_cache_overflow/constant_cache_overflow.vcxproj
  tests/features/constant_cache_overflow/model.cc
  tests/features/constant_cache_overflow/runner_guid.txt
  tests/features/constant_cache_overflow/skip_SingleThreadedCPU
  tests/features/constant_cache_overflow/test.cc
Labels: CUDA backend, bug

#357 RNG substream fix
  include/genn/backends/cuda/backend.h
  include/genn/backends/cuda/presynapticUpdateStrategy.h
  src/genn/backends/cuda/backend.cc
  src/genn/backends/cuda/presynapticUpdateStrategy.cc
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/Makefile
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/decode_matrix_merged_conn_gen_globalg_bitmask_optimised.sln
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/decode_matrix_merged_conn_gen_globalg_bitmask_optimised.vcxproj
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/model.cc
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/runner_guid.txt
  tests/features/decode_matrix_merged_conn_gen_globalg_bitmask_optimised/test.cc
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/Makefile
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/decode_matrix_merged_conn_gen_globalg_procedural.sln
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/decode_matrix_merged_conn_gen_globalg_procedural.vcxproj
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/model.cc
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/runner_guid.txt
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/skip_SingleThreadedCPU
  tests/features/decode_matrix_merged_conn_gen_globalg_procedural/test.cc
Labels: CUDA backend, bug

#356 PyGeNN time precision
  pygenn/genn_groups.py
  pygenn/genn_model.py
  pygenn/model_preprocessor.py
Labels: PyGeNN, bug, enhancement
