Repository genn-team/genn, pull requests merged in 2020-01, with the labels that each got.

#290 Better logging
  generate_swig_interfaces.py
  include/genn/backends/cuda/optimiser.h
  include/genn/backends/cuda/utils.h
  include/genn/backends/single_threaded_cpu/optimiser.h
  include/genn/genn/code_generator/codeStream.h
  include/genn/genn/code_generator/substitutions.h
  include/genn/genn/logging.h
  include/spineml/common/spineMLLogging.h
  include/spineml/simulator/networkClient.h
  include/spineml/simulator/simulator.h
  include/spineml/simulator/stateVar.h
  include/spineml/simulator/timer.h
  pygenn/genn_model.py
  setup.py
  src/genn/backends/cuda/backend.cc
  src/genn/backends/cuda/optimiser.cc
  src/genn/backends/single_threaded_cpu/optimiser.cc
  src/genn/generator/generator.cc
  src/genn/genn/code_generator/backendBase.cc
  src/genn/genn/code_generator/generateAll.cc
  src/genn/genn/code_generator/generateNeuronUpdate.cc
  src/genn/genn/genn.vcxproj
  src/genn/genn/logging.cc
  src/genn/genn/neuronGroup.cc
  src/spineml/common/Makefile
  src/spineml/common/pugixml/pugixml.cc
  src/spineml/common/spineMLLogging.cc
  src/spineml/generator/connectors.cc
  src/spineml/generator/main.cc
  src/spineml/generator/modelCommon.cc
  src/spineml/generator/neuronModel.cc
  src/spineml/generator/objectHandler.cc
  src/spineml/generator/passthroughPostsynapticModel.cc
  src/spineml/generator/passthroughWeightUpdateModel.cc
  src/spineml/generator/postsynapticModel.cc
  src/spineml/generator/weightUpdateModel.cc
  src/spineml/simulator/connectors.cc
  src/spineml/simulator/input.cc
  src/spineml/simulator/inputValue.cc
  src/spineml/simulator/logOutput.cc
  src/spineml/simulator/modelProperty.cc
  src/spineml/simulator/networkClient.cc
  src/spineml/simulator/simulator.cc
  src/spineml/standalone_simulator/main.cc
Labels: PyGeNN, enhancement

#296 Improve README formatting and add source command to Linux/Mac installation
  README.md
Labels: enhancement

#294 Expose GeNN preferences to PyGeNN
  pygenn/genn_model.py
Labels: PyGeNN, enhancement

#297 Simulator memory query
  include/genn/backends/cuda/backend.h
  include/genn/backends/single_threaded_cpu/backend.h
  include/genn/genn/code_generator/backendBase.h
  pygenn/genn_model.py
  src/genn/backends/cuda/backend.cc
  src/genn/backends/single_threaded_cpu/backend.cc
  src/genn/genn/code_generator/generateRunner.cc
  userproject/include/sharedLibraryModel.h
Labels: enhancement

#293 Microcircuit userproject
  include/genn/genn/currentSourceModels.h
  include/genn/genn/initSparseConnectivitySnippet.h
  include/genn/genn/initVarSnippet.h
  include/genn/genn/postsynapticModels.h
  include/genn/genn/weightUpdateModels.h
  src/genn/genn/currentSourceModels.cc
  src/genn/genn/initSparseConnectivitySnippet.cc
  src/genn/genn/initVarSnippet.cc
  userproject/Izh_sparse_project/model/IzhSparse.cc
  userproject/PotjansMicrocircuit_project/Makefile
  userproject/PotjansMicrocircuit_project/README.txt
  userproject/PotjansMicrocircuit_project/generate_potjans_microcircuit_runner.vcxproj
  userproject/PotjansMicrocircuit_project/generate_run.cc
  userproject/PotjansMicrocircuit_project/model/Makefile
  userproject/PotjansMicrocircuit_project/model/PotjansMicrocircuit.cc
  userproject/PotjansMicrocircuit_project/model/PotjansMicrocircuit.sln
  userproject/PotjansMicrocircuit_project/model/PotjansMicrocircuit.vcxproj
  userproject/PotjansMicrocircuit_project/model/PotjansMicrocircuitParams.h
  userproject/PotjansMicrocircuit_project/model/PotjansMicrocircuitSim.cc
  userproject/PotjansMicrocircuit_project/model/runner_guid.txt
  userproject/PotjansMicrocircuit_project/plot.py
  userproject/include/fixedNumberTotalPreCalc.h
  userproject/include/generateRun.h
  userproject/include/normalDistribution.h
  userproject/include/sharedLibraryModel.h
  userproject/include/spikeRecorder.h
  userproject/userprojects.sln
Labels: enhancement, userprojects

#298 Smarter row build state
  include/genn/genn/code_generator/codeGenUtils.h
  include/genn/genn/code_generator/substitutions.h
  include/genn/genn/gennUtils.h
  include/genn/genn/initSparseConnectivitySnippet.h
  include/genn/genn/snippet.h
  pygenn/genn_wrapper/swig/Snippet.i
  src/genn/genn/code_generator/codeGenUtils.cc
  src/genn/genn/code_generator/generateInit.cc
  src/genn/genn/code_generator/generateNeuronUpdate.cc
  src/genn/genn/code_generator/generateRunner.cc
  src/genn/genn/code_generator/generateSynapseUpdate.cc
  src/genn/genn/gennUtils.cc
Labels: enhancement
