Repository genn-team/genn, pull requests merged in 2022-08, with the labels that each got.

#534 Fix pygennn kernel var ref checks.
  pygenn/genn_groups.py
Labels: bug, PyGeNN

#471 Automatically find Visual Studio
  pygenn/genn_model.py
Labels: enhancement, PyGeNN, windows

#538 Encourage use of Windows path GUI
  README.md
  doxygen/01_Installation.dox
  doxygen/03_Examples.dox
  doxygen/images/cuda_path_windows.png
  doxygen/images/path_windows.png
  pygenn/README.md
Labels: enhancement, documentation
