Repository genn-team/genn, pull requests merged in 2022-02, with the labels that each got.

#500 Detect WSL when linking CUDA and add additional wsl linker path
  setup.py
  src/genn/MakefileCommon
  src/genn/generator/MakefileCUDA
  src/spineml/generator/MakefileCUDA
Labels: enhancement, windows

#502 Fixed a bug in the spike recording system
  src/genn/genn/code_generator/backendSIMT.cc
Labels: bug, CUDA backend, OpenCL

#496 Switch to pyBind11
  Jenkinsfile
  generate_swig_interfaces.py
  include/genn/genn/code_generator/backendBase.h
  include/genn/genn/initSparseConnectivitySnippet.h
  include/genn/genn/initToeplitzConnectivitySnippet.h
  include/genn/genn/modelSpec.h
  include/genn/genn/models.h
  include/genn/genn/snippet.h
  include/genn/genn/synapseGroup.h
  include/genn/genn/synapseGroupInternal.h
  pygenn/.gitignore
  pygenn/README.md
  pygenn/__init__.py
  pygenn/genn_groups.py
  pygenn/genn_model.py
  pygenn/genn_wrapper/.gitignore
  pygenn/genn_wrapper/__init__.py
  pygenn/genn_wrapper/include/customParamValues.h
  pygenn/genn_wrapper/include/customVarReferences.h
  pygenn/genn_wrapper/include/customVarValues.h
  pygenn/genn_wrapper/include/customWUVarReferences.h
  pygenn/genn_wrapper/include/sharedLibraryModelNumpy.h
  pygenn/genn_wrapper/swig/Models.i
  pygenn/genn_wrapper/swig/Snippet.i
  pygenn/genn_wrapper/swig/numpy.i
  pygenn/model_preprocessor.py
  pygenn/src/cudaBackend.cc
  pygenn/src/currentSourceModels.cc
  pygenn/src/customUpdateModels.cc
  pygenn/src/genn.cc
  pygenn/src/initSparseConnectivitySnippets.cc
  pygenn/src/initToeplitzConnectivitySnippets.cc
  pygenn/src/initVarSnippets.cc
  pygenn/src/neuronModels.cc
  pygenn/src/openclBackend.cc
  pygenn/src/postsynapticModels.cc
  pygenn/src/sharedLibraryModel.cc
  pygenn/src/singleThreadedCPUBackend.cc
  pygenn/src/weightUpdateModels.cc
  setup.py
  src/genn/genn/code_generator/generateMSBuild.cc
  src/genn/genn/code_generator/generateRunner.cc
  src/genn/genn/modelSpec.cc
  src/genn/genn/models.cc
  src/genn/genn/synapseGroup.cc
  tests/unit/modelSpecMerged.cc
  userproject/include/sharedLibraryModel.h
  version.txt
Labels: enhancement, PyGeNN
